* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Consolas', monospace;
}

/* body::-webkit-scrollbar {
  display: none;
} */

table {
  border-collapse: collapse;
  border: 1px solid #000;
}

th,
td {
  text-align: center;
  border: 1px solid #000;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}
